In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import requests
# import gmaps
import os
# Import API key
from api_keys import g_key

In [5]:
#data_sets = ['202002-citibike-tripdata.csv', '202003-citibike-tripdata.csv', '202004-citibike-tripdata.csv', '202005-citibike-tripdata.csv', '202006-citibike-tripdata.csv', '202008-citibike-tripdata.csv', '202009-citibike-tripdata.csv', '202010-citibike-tripdata.csv', '202011-citibike-tripdata.csv', '202012-citibike-tripdata.csv']
data_sets = ['202007-citibike-tripdata.csv']

for set in data_sets: 
    citibike_data = pd.read_csv(set)
    st_r = set
    f_n = st_r.split("-")
    file_name = f_n[0][0 : 2 : ] + f_n[0][4 : :]
    file_str = "_data.csv"
    file_name += file_str
    print(file_name)
        
    citibike_data['timestamp'] = pd.to_datetime(citibike_data['starttime'])
    citibike_data['date'] = [dt.datetime.date(d) for d in citibike_data['timestamp']]
    citibike_data['month'] = pd.DatetimeIndex(citibike_data['timestamp']).month
    citibike_data['year'] = pd.DatetimeIndex(citibike_data['timestamp']).year

    citibike_data.to_csv(file_name)

2007_data.csv

In [8]:
data_sets = ['2001_data.csv', '2002_data.csv', '2003_data.csv', '2004_data.csv', '2005_data.csv', '2006_data.csv', '2007_data.csv', '2008_data.csv', '2009_data.csv', '2010_data.csv', '2011_data.csv', '2012_data.csv']
#data_sets = ['2007_data.csv', '2008_data.csv', '2009_data.csv', '2010_data.csv', '2011_data.csv', '2012_data.csv']

zips = pd.read_csv("zip_code_file.csv")
stations = zips['start station name']

for set in data_sets:
    month_data = pd.read_csv(set)
    month_data['zip code'] = 111
    month_grouped = month_data[["tripduration", "start station latitude", "start station longitude", "zip code", "month", "year"]].groupby(month_data["start station name"]).agg({"tripduration": ["count", "sum", "min", "max", "mean", "median", "skew"], "start station latitude": ["first"], "start station longitude": ["first"], "zip code": ["first"], "month": ["first"], "year": ["first"]}).reset_index()
    month_grouped.columns = ['start station name', 'trip count', 'sum duration', 'min duration', 'max duration', 'mean duration', 'median duration', 'skew', 'start station latitude', 'start station longitude', 'zip code', 'month', 'year']
    print(len(month_grouped))
    
    for station in stations:
        df = zips[zips['start station name'] == station]
        zip_data = df.iloc[0]['zip code'] 
        month_grouped.loc[(month_grouped['start station name'] == station), 'zip code'] = zip_data

    st_r = set
    f_n = st_r.split("_")
    file_name = f_n[0]
    file_str = "_month_grouped.csv"
    file_name += file_str
    month_grouped.to_csv(file_name)
    print(file_name)

893
2001_month_grouped.csv
890
2002_month_grouped.csv
889
2003_month_grouped.csv
887
2004_month_grouped.csv
923
2005_month_grouped.csv
958
2006_month_grouped.csv
989
2007_month_grouped.csv
1039
2008_month_grouped.csv
1087
2009_month_grouped.csv
1144
2010_month_grouped.csv
1152
2011_month_grouped.csv
1174
2012_month_grouped.csv

In [14]:
concat_data = pd.read_csv('2001_month_grouped.csv')  
data_sets = ['2002_month_grouped.csv', '2003_month_grouped.csv', '2004_month_grouped.csv', '2005_month_grouped.csv', '2006_month_grouped.csv', '2007_month_grouped.csv', '2008_month_grouped.csv', '2009_month_grouped.csv', '2010_month_grouped.csv', '2011_month_grouped.csv', '2012_month_grouped.csv']

for set in data_sets:
    concat_data2 = pd.read_csv(set)
    frames = [concat_data, concat_data2]
    concat_data = pd.concat(frames).reset_index()
    del concat_data['index']
    print(len(concat_data))

del concat_data['Unnamed: 0']
print(concat_data)

1783
2672
3559
4482
5440
6429
7468
8555
9699
10851
12025
                 start station name  trip count  sum duration  min duration  \
0                  1 Ave & E 110 St         689        502601            79
1                   1 Ave & E 16 St        4835       3101403            61
2                   1 Ave & E 18 St        4465       2795004            63
3                   1 Ave & E 30 St        2863       2165464            63
4                   1 Ave & E 44 St        2507       2265061            62
...                             ...         ...           ...           ...
12020      Woodward Ave & Harman St         139        116507            80
12021     Wyckoff Av & Jefferson St         297        351808            72
12022      Wyckoff Av & Stanhope St         423        366697            61
12023        Wyckoff St & Nevins St         527        429841            62
12024  Wythe Ave & Metropolitan Ave        1684       1576568            63

       max duration  mean duration  median duration       skew  \
0              9774     729.464441            481.0   5.944686
1             56461     641.448397            462.0  31.837229
2             44125     625.980739            488.0  34.767948
3            184079     756.361858            563.0  51.567191
4              7736     903.494615            765.0   2.391777
...             ...            ...              ...        ...
12020          2584     838.179856            663.0   0.991596
12021        112769    1184.538721            610.0  17.005557
12022          9535     866.895981            548.0   3.965360
12023          7366     815.637571            632.0   3.521768
12024         14774     936.204275            763.5   4.260602

       start station latitude  start station longitude zip code  month  year
0                   40.792327               -73.938300    10029      1  2020
1                   40.732219               -73.981656    10009      1  2020
2                   40.733812               -73.980544    10009      1  2020
3                   40.741444               -73.975361    10016      1  2020
4                   40.750020               -73.969053    10017      1  2020
...                       ...                      ...      ...    ...   ...
12020               40.707930               -73.910920    11385     12  2020
12021               40.707165               -73.923711    11237     12  2020
12022               40.703545               -73.917775    11237     12  2020
12023               40.683426               -73.984275    11217     12  2020
12024               40.716887               -73.963198    11249     12  2020

[12025 rows x 13 columns]

In [18]:
citi_sorted = concat_data.sort_values(by=['start station name', 'month'])
#citi_grouped = concat_data.groupby(["start station name", "month"])
#citi_grouped = concat_data[['trip count', 'sum duration', 'min duration', 'max duration', 'mean duration', 'median duration', 'skew', 'start station latitude', 'start station longitude', 'zip code', 'year']].groupby([concat_data["start station name"],concat_data["month"]]).agg({"tripduration": ["count", "sum", "min", "max", "mean", "median", "skew"], "start station latitude": ["first"], "start station longitude": ["first"], "zip code": ["first"], "year": ["first"]}).reset_index()
#citi_grouped.columns = ['start station name', 'month', 'trip count', 'sum duration', 'min duration', 'max duration', 'mean duration', 'median duration', 'skew', 'start station latitude', 'start station longitude', 'zip code', 'year']
        
print (citi_sorted)
#print (citi_grouped)

          start station name  trip count  sum duration  min duration  \
0           1 Ave & E 110 St         689        502601            79
893         1 Ave & E 110 St         621        436016            67
1783        1 Ave & E 110 St         790        754883            64
2672        1 Ave & E 110 St         520        612476            83
3559        1 Ave & E 110 St        1342       3617257            64
...                      ...         ...           ...           ...
6428   Yankee Ferry Terminal         914       1870561            61
7467   Yankee Ferry Terminal        2481       6171749            62
8554   Yankee Ferry Terminal        2416       6255432            64
9698   Yankee Ferry Terminal        1782       6248120            77
10850  Yankee Ferry Terminal          21         35387           267

       max duration  mean duration  median duration       skew  \
0              9774     729.464441            481.0   5.944686
893           16076     702.119163            463.0  10.006416
1783          20600     955.548101            533.5   7.598904
2672           9569    1177.838462            824.0   2.859895
3559         518509    2695.422504           1150.0  21.827263
...             ...            ...              ...        ...
6428          13787    2046.565646           1709.0   3.248638
7467          79460    2487.605401           1735.0  12.168318
8554         145906    2589.168874           1799.0  15.320986
9698         511508    3506.240180           1871.0  21.557011
10850          3021    1685.095238           1636.0  -0.174500

       start station latitude  start station longitude zip code  month  year
0                   40.792327               -73.938300    10029      1  2020
893                 40.792327               -73.938300    10029      2  2020
1783                40.792327               -73.938300    10029      3  2020
2672                40.792327               -73.938300    10029      4  2020
3559                40.792327               -73.938300    10029      5  2020
...                       ...                      ...      ...    ...   ...
6428                40.686931               -74.016966    11231      7  2020
7467                40.686931               -74.016966    11231      8  2020
8554                40.686931               -74.016966    11231      9  2020
9698                40.686931               -74.016966    11231     10  2020
10850               40.686931               -74.016966    11231     11  2020

[12025 rows x 13 columns]

In [19]:
citi_sorted.to_csv("2020_groupedByMonth_data.csv")